body, html{
    min-height: 100%;
    background-color: rgb(11, 70, 148);
    font-family: 'ABeeZee', sans-serif;
    }
    .error{
        height: 25px;
        background-color: rgb(231, 0, 0);
        color: #fff;
        font-style:italic;
    }
    header{
        font-family: 'ABeeZee', sans-serif;
        background-color: rgb(11, 70, 148);
        height: 150px;
        color:white;
        @include flex-center(column, flex-end, flex-start);
        padding: 20px 10px;
    }
    #content{
        margin-top: 0px;
        height:100%;
        background-color: rgb(253, 251, 251);
        color:rgba(33, 33, 54, 0.801);
    }
    #text{
      background-color: rgb(253, 251, 251);
      padding: 35px 20px;
    }
    
    #page-wrapper{
        position:absolute;
        bottom: 0;
        top:0;
        left:0;
        right:0;
        @include flex-center(column);
        min-width: 280px;
    }
    